{% extends "base.html" %}

{% load static %}

{% block titulo %}
   Cadastro de Carros
{% endblock %}

{% block conteudo %}
   <div style="margin-bottom: 15px;">
      <h4 style="margin-bottom: 10px;">Cadastro de Carros</h4>
      <hr style="margin-bottom: 0px;">
   </div>

   {% if messages %}
      <div class="row mb-3">
         <div class="col-12">
            {% for message in messages %}
            <ul class="list-group rounded {{ message.tags }}">
               {# Supondo a utilização de apenas info e danger #}
               <li style="padding-top: 7px; padding-bottom: 7px;"
                  class="list-group-item list-group-item-{% if message.tags == 'info' %}info{% else %}danger{% endif %}">
                  {{ message }}
               </li>
            </ul>
            {% endfor %}
         </div>
      </div>
   {% endif %}

   <div class="row mb-3">
      <div class="col-lg-2 mb-lg-1">
         <span class="texto"><b>Marca</b></span>
      </div>
      <div class="col-lg-10 mb-lg-1">
         <span class="texto">{{ carro.marca }}</span>
      </div>

      <div class="col-lg-2 mb-lg-1">
         <span class="texto"><b>Modelo</b></span>
      </div>
      <div class="col-lg-10 mb-lg-1">
         <span class="texto">{{ carro.nome }}</span>
      </div>

      <div class="col-lg-2 mb-lg-1">
         <span class="texto"><b>Preço</b></span>
      </div>
      <div class="col-lg-10 mb-lg-1">
         <span class="texto">{{ carro.preco }}</span>
      </div>

      <div class="col-lg-2 mb-lg-1">
         <span class="texto"><b>Ano</b></span>
      </div>
      <div class="col-lg-10 mb-lg-1">
         <span class="texto">{{ carro.ano }}</span>
      </div>
      <div class="col-lg-2 mb-lg-1">
         <span class="texto"><b>Quilometragem</b></span>
      </div>
      <div class="col-lg-10 mb-lg-1">
         <span class="texto">{{ carro.quilometragem }}</span>
      </div>
   </div>

   {% if form_remove_carro %}
      <div class="form-group row" style="margin-bottom: 0px;">
         <div class="col-12">
            <div class="form-inline">
               <a id="botao_editar" href="{% url 'carro:edita_carro' carro.id %}" class="btn btn-primary mr-3">
                  Editar
               </a>
                  <form id="form_remove_carro" style="margin-bottom: 0px;" action="{% url 'carro:remove_carro' %}"
                     method="post" novalidate>
                     {% csrf_token %}

                     <button id="botao_remover" type="button" class="btn btn-danger">
                        Remover
                     </button>
                  </form>
            </div>
         </div>
      </div>
   {% endif %}
{% endblock %}

{% block domready %}
   $("#botao_remover").click(function() {
      $("#form_remove_carro").append('{{ form_remove_carro.carro_id }}')
      $("#form_remove_carro").submit()
   })
{% endblock %}