{% extends 'base.html' %}

{% load static %}

{% block titulo %}Home{% endblock %}

{% block conteudo %}
<div class="jumbotron">
  <div class="container d-none d-lg-block">
    <div class="card bg-dark mt-5 text-light border-0">
      <img src="{{ imagens.0.caminho }}" class="card-img" alt="Uno com Escada"
        style="height: 300px; overflow: hidden;">
      <div class="text-center card-img-overlay mt-5">
        <h1 class="card-title">{{text.0.texto}}</h1>
        <p class="lead card-text">{{text.1.texto}}</p>
      </div>
    </div>
  </div>

  <div class="d-lg-none container text-center">
    <h1>{{text.0.texto}}</h1>
    <p class="lead">{{text.1.texto}}!</p>
  </div>

  <div class="container mt-5">
    <h3>{{text.2.texto}}</h3>
    <p>{{text.3.texto}}</p>
  </div>

  <div id="marcas" class="d-none d-md-block">
    <h4 class="text-center">Marcas disponíveis:</h4>

    <div id="carrossel-marcas" class="carousel slide" data-ride="carousel">
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img src="{{imagens.1.caminho}}" class="d-block w-100" alt="Honda"
            style="height:300px; object-fit: cover">
          <div class="carousel-caption">
            <h3 class="mb-4 text-dark">Honda</h3>
          </div>
        </div>
        <div class="carousel-item">
          <img src="{{imagens.2.caminho}}" class="d-block w-100" alt="Ford"
            style="height:300px; object-fit: cover">
          <div class="carousel-caption">
            <h3 class="mb-4 text-light">Ford</h3>
          </div>
        </div>
        <div class="carousel-item">
          <img src="{{imagens.3.caminho}}" class="d-block w-100" alt="Ford"
            style="height:300px; object-fit: cover">
          <div class="carousel-caption">
            <h3 class="mb-4 text-dark">E muito mais!</h3>
          </div>
        </div>
      </div>
    </div>
  </div>
  <h4 class="text-center">O que está esperando? <a href="{% url 'carro:lista_carro' %}">Clique aqui</a> e veja os carros
    disponíveis!</h4>
  <div class="container">
    <button type="button" class="btn btn-primary" id="botao-like">Like<span class="badge badge-light"
        id="contador-like" data=1></span></button>
    <button type="button" class="btn btn-primary" id="botao-dislike">Dislike<span class="badge badge-light"
        id="contador-dislike" data=1></span></button>
  </div>
</div>
{% endblock %}
{% block scriptscustom %}<script src="{% static 'carro/js/like.js' %}"></script>{% endblock %}