{% extends 'base.html' %}
{% load static %}

{% block titulo %}
Carros
{% endblock %}

{% block estilo %}
.modal-open {
padding-right: 0px !important;
}
{% endblock %}

{% block conteudo %}
<div class='mb-4'>
  <h4 class='mb-2'>Pesquisa de Carro</h4>
  <hr class='mt-0 mb-0'>
</div>

<form action="{% url 'carro:lista_carro' %}" method='GET'>
  <div class='form-group row' style='margin-bottom: 10px;'>
    <label for='id_busca_por' class='col-lg-2 col-form-label font-weight-bold'>
      Nome
    </label>
    <div class='col-lg-10'>
      {{ form.busca_por }}
    </div>
  </div>
  <!--                                                            
      <input type='text'                                              
             name='busca_por'                                        
             id='id_busca_por'                                       
             class='form-control form-control-sm'                     
             maxlength='50'                                           
             required>                                                
      -->

  <div class='form-group row'>
    <div class="col-lg-10 offset-lg-2">
      <button type='submit' class='btn btn-primary'>
        Pesquisar
      </button>
    </div>
  </div>
</form>

<div class='modal modal-md fade' tabindex='-1' id='remove-carro-modal'>
  <div class='modal-dialog'>
    <div class='modal-content'>
      <div class='modal-header'>
        <span class='modal-title font-weight-bold'>Janela de Confirmação</span>
      </div>
      <div class='modal-body'>
        <div class='form-group row'>
          <div class='container font-weight-bolder'>
            Confirma a remoção do carro?
          </div>
        </div>
        <div class='text-right'>
          <button type='button' class='btn btn-secondary' data-dismiss='modal'>Cancelar</button>
          <button id='btn-submit' type='button' class='btn btn-primary'>Remover</button>
        </div>
      </div>
    </div>
  </div>
</div>

{% if carros %}

<h5 class="mb-3">Lista de Carros</h5>
<table style='width:100%' class='table table-striped table-sm table-bordered'>
  <thead>
    <tr>
      <th class='texto text-center'>Marca</th>
      <th class='texto text-center'>Modelo</th>
      <th class='texto text-center'>Ano</th>
      <th class='texto text-center'>Preço</th>
      <th class='texto text-center'>Quilometragem</th>
      <th class='texto text-center'>Operação</th>
    </tr>
  </thead>
  <tbody>
    {% for carro in carros %}
    <tr>
      <td width='20%' class='text-left'>
        <span class='texto'>
          {{ carro.marca }}
        </span>
      </td>
      <td width='35%' class='text-left'>
        <span class='texto'>
          <a href="{% url 'carro:exibe_carro' carro.id %}">
            {{ carro.nome }}
          </a>
        </span>
      </td>
      <td width='15%' class='text-center'>
        <span class='texto'>
          {{ carro.ano }}
        </span>
      </td>
      <td width='15%' class='text-right pr-2'>
        <span class='texto'>
          {{ carro.preco }}
        </span>
      </td>
      <td width='15%' class='text-right pr-2'>
        <span class='texto'>
          {{ carro.quilometragem }}
        </span>
      </td>
      <td width='15%' class='text-right pr-2'>
        <form style='margin-bottom: 0px;' action="{% url 'carro:remove_carro' %}" method='post' novalidate>
          {% csrf_token %}
          {# {{ form_remove_carro.carro_id }} #}
          <button type='button' class='btn btn-sm btn-danger remover'>
            Remover
          </button>
        </form>
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>

<div class='row' style='font-size: 14px;'>
  <div class='col-12'>
    {% if carros.has_other_pages %}
    <ul class='pagination'>
      {% if carros.has_previous %}
      <li class='page-item'><a class='page-link'
          href='?pagina={{ carros.previous_page_number }}&busca_por={{ busca_por }}'>Anterior</a></li>
      {% else %}
      <li class='page-item disabled'><a class='page-link' href='#' tabindex='-1'>Anterior</a></li>
      {% endif %}
      {% for i in carros.paginator.page_range %}
      {% if carros.number == i %}
      <li class='page-item active'><a class='page-link' href='#'>{{ i }} </a></li>
      {% else %}
      <li class='page-item'><a class='page-link' href='?pagina={{ i }}&busca_por={{ busca_por }}'>{{ i }}</a></li>
      {% endif %}
      {% endfor %}
      {% if carros.has_next %}
      <li class='page-item'><a class='page-link'
          href='?pagina={{ carros.next_page_number }}&busca_por={{ busca_por }}'>Próxima</a></li>
      {% else %}
      <li class='page-item disabled'><a class='page-link' href='#' tabindex='-1'>Próxima</a></li>
      {% endif %}
    </ul>
    {% endif %}
  </div>
</div>
{% endif %}
{% endblock %}

{% block domready %}
let form
$(".remover").click(function() {
form = $(this).parent()
$("#remove-carro-modal").modal('show')
})
$("#btn-submit").click(function(){
let lista_de_ids = {{ lista_de_ids }}
let ind = $(form).parent().parent().index()
let input = "<input type='hidden' name='carro_id' value='" + lista_de_ids[ind] + "'>"
alert(lista_de_ids + " - " + lista_de_ids[ind])
$(form).append(input)
$(form).submit()
})

{% endblock %}