{% extends 'base.html' %}

{% load static %}

{% block titulo %}Quem Somos{% endblock %}

{% block conteudo %}
<div class="jumbotron">
  <div class="container">
    <h1 class="text-center text-dark">
      <b>Quem somos?</b>
    </h1>
    <p class="mt-5 lead">
      O Carros Usados é um site que se propõe e dedica a ser uma central de compra e venda de carros usados e
      seminovos. Aqui, você encontra vendedores aprovados pelo nosso processo de certificação e pode ter certeza de
      que todos os anúncios são confiáveis. Se ainda assim você tiver problemas na sua compra, nosso time de suporte
      estará pronto para te ajudar.
    </p>
  </div>
</div>
{% endblock %}